{{ define "common/navbar.tmpl" }}

  <nav class="blue darken-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="https://gstforce.in/" class="brand-logo left"><span style="color: #4cc9ff;">GSTFORCE</span></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://gstforce.in/eauction/"><i class="material-icons">home</i></a></li>
          <li><input id="search-text" type="text" data-length="30"></li>
          <li><a><i class="material-icons" onclick="searchAuc();">search</i></a></li>
        </ul>
      </div>
    </div>
  </nav>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript">
      function searchAuc() {
        var tag = $("#search-text").val();
        if(tag == "") {
          tag = "none"
        }
        window.location.href = `/tags/` + tag + `/auctions`;
      }
    </script>
{{ end }}
